<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multithreading.dao.BaseSiteSaveMapper">

    <insert id="saveBaseSite">
        insert into base_site(
            base_site_code,
            base_site_name,
            district_code,
            district_name,
            address,
            longitude,
            latitude,
            site_type,
            network_type,
            vendor,
            status
        )
        values (
            #{baseSiteCode},
            #{baseSiteName},
            #{districtCode},
            #{districtName},
            #{address},
            #{longitude},
            #{latitude},
            #{siteType},
            #{networkType},
            #{vendor},
            #{status}
        )
        on duplicate key update
            base_site_name = values(base_site_name),
            district_code = values(district_code),
            district_name = values(district_name),
            address = values(address),
            longitude = values(longitude),
            latitude = values(latitude),
            site_type = values(site_type),
            network_type = values(network_type),
            vendor = values(vendor),
            status = values(status)
    </insert>

    <insert id="saveAntennaList">
        insert into antenna(
            base_site_code,
            base_site_name,
            device_code,
            device_name,
            brand,
            model,
            antenna_type,
            direction_angle,
            down_tilt,
            install_position,
            status
        )
        values
        <foreach collection="antennaList" item="item" separator=",">
            (
                #{item.baseSiteCode},
                #{item.baseSiteName},
                #{item.deviceCode},
                #{item.deviceName},
                #{item.brand},
                #{item.model},
                #{item.antennaType},
                #{item.directionAngle},
                #{item.downTilt},
                #{item.installPosition},
                #{item.status}
            )
        </foreach>
    </insert>

    <insert id="saveAAUList">
        insert into aau(
            base_site_code,
            base_site_name,
            device_code,
            device_name,
            brand,
            model,
            frequency_band,
            install_position,
            status
        )
        values
        <foreach collection="aauList" item="item" separator=",">
            (
                #{item.baseSiteCode},
                #{item.baseSiteName},
                #{item.deviceCode},
                #{item.deviceName},
                #{item.brand},
                #{item.model},
                #{item.frequencyBand},
                #{item.installPosition},
                #{item.status}
            )
        </foreach>
    </insert>

    <insert id="saveBBUList">
        insert into bbu(
            base_site_code,
            base_site_name,
            device_code,
            device_name,
            brand,
            model,
            room_name,
            cabinet_no,
            status
        )
        values
        <foreach collection="bbuList" item="item" separator=",">
            (
                #{item.baseSiteCode},
                #{item.baseSiteName},
                #{item.deviceCode},
                #{item.deviceName},
                #{item.brand},
                #{item.model},
                #{item.roomName},
                #{item.cabinetNo},
                #{item.status}
            )
        </foreach>
    </insert>

    <insert id="saveOilList">
        insert into oil(
            base_site_code,
            base_site_name,
            device_code,
            device_name,
            brand,
            model,
            power_capacity,
            status
        )
        values
        <foreach collection="oilList" item="item" separator=",">
            (
                #{item.baseSiteCode},
                #{item.baseSiteName},
                #{item.deviceCode},
                #{item.deviceName},
                #{item.brand},
                #{item.model},
                #{item.powerCapacity},
                #{item.status}
            )
        </foreach>
    </insert>

    <insert id="saveAirConditionList">
        insert into air_condition(
            base_site_code,
            base_site_name,
            device_code,
            device_name,
            brand,
            model,
            install_position,
            status
        )
        values
        <foreach collection="airConditionList" item="item" separator=",">
            (
                #{item.baseSiteCode},
                #{item.baseSiteName},
                #{item.deviceCode},
                #{item.deviceName},
                #{item.brand},
                #{item.model},
                #{item.installPosition},
                #{item.status}
            )
        </foreach>
    </insert>

    <insert id="saveHoldingPoleList">
        insert into holding_pole(
            base_site_code,
            base_site_name,
            pole_code,
            pole_name,
            pole_type,
            height,
            install_position,
            status
        )
        values
        <foreach collection="holdingPoleList" item="item" separator=",">
            (
                #{item.baseSiteCode},
                #{item.baseSiteName},
                #{item.poleCode},
                #{item.poleName},
                #{item.poleType},
                #{item.height},
                #{item.installPosition},
                #{item.status}
            )
        </foreach>
    </insert>

    <insert id="saveRRUList">
        insert into rru(
            base_site_code,
            base_site_name,
            device_code,
            device_name,
            brand,
            model,
            frequency_band,
            install_position,
            status
        )
        values
        <foreach collection="rruModelList" item="item" separator=",">
            (
                #{item.baseSiteCode},
                #{item.baseSiteName},
                #{item.deviceCode},
                #{item.deviceName},
                #{item.brand},
                #{item.model},
                #{item.frequencyBand},
                #{item.installPosition},
                #{item.status}
            )
        </foreach>
    </insert>

    <insert id="savePowerList">
        insert into power(
            base_site_code,
            base_site_name,
            device_code,
            device_name,
            brand,
            model,
            power_type,
            capacity,
            status
        )
        values
        <foreach collection="powerList" item="item" separator=",">
            (
                #{item.baseSiteCode},
                #{item.baseSiteName},
                #{item.deviceCode},
                #{item.deviceName},
                #{item.brand},
                #{item.model},
                #{item.powerType},
                #{item.capacity},
                #{item.status}
            )
        </foreach>
    </insert>
</mapper>
